.imgmeio {
    max-width: 700px;
    margin: auto;
}

.imgMeio {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 170px 0px 0px 0px;
}
.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }