* { box-sizing: border-box;}

body{margin: 0;
  height: 100%;
}

.corpo {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
  margin:  10vh;
}

.topo{
  margin: 0vh 0 5vh 10vh;
  display:flex;
  min-height: 30px;
  color: rgb(4, 118, 248);
}
 
.flex-center-center {
  display: flex;
  justify-content: center;
  align-content: center;
}



.buttons{
  margin: 50px 0px;
}

.asterisco-ver{
  color: red;
} 

