.all{

  /*border: solid 1px;
  border-color: black;*/
  overflow:hidden;
}

.logoImg img {
    border-radius: 20%;

}

.ambietecImg {
    margin: 15px 0px 0px 10px;
}

.sair {
    margin: 0px 0px 0px 5px;
}


.navbar {
    border-radius: 3%;
}

/* barra vertival */
hr {
    border: solid 3px;
    border-color: white;
    box-sizing:border-box;
    width:100%;  
    color: white;
}

.tracinho{
    margin:  0px 10px 0px 10px;
}


.areaLogo{
    width: 100%;
}


.navegadorBar{

    margin: auto;
    display: flex;
    width: 100%;

}

.nvgdBar{
    width: 100%;
}

.collapse{
    background-image: linear-gradient(rgb(70, 77, 78)); 
}

.navegador{  
    width:15%;
    flex-direction: row-reverse;
}

.navegadorLogo {
    margin: 0px;
}
